@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sahel";
  src: url("/fonts/Sahel-Black.eot");
  src: url("/fonts/Sahel-Black.eot?#iefix") format("embedded-opentype"), /* url('/fonts/Sahel-Black.woff2') format('woff2'), */ url("/fonts/Sahel-Black.woff") format("woff"),
    url("/fonts/Sahel-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Sahel";
  src: url("/fonts/Sahel-Bold.eot");
  src: url("/fonts/Sahel-Bold.eot?#iefix") format("embedded-opentype"), /* url('/fonts/Sahel-Bold.woff2') format('woff2'), */ url("/fonts/Sahel-Bold.woff") format("woff"),
    url("/fonts/Sahel-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sahel";
  src: url("/fonts/Sahel.eot");
  src: url("/fonts/Sahel.eot?#iefix") format("embedded-opentype"), /* url('/fonts/Sahel.woff2') format('woff2'), */ url("/fonts/Sahel.woff") format("woff"),
    url("/fonts/Sahel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Sahel", sans-serif;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 6px;   /* باریک */
  height: 6px;  /* برای اسکرول افقی */
}

::-webkit-scrollbar-thumb {
  background-color: #b0b0b0; /* طوسی ملایم */
  border-radius: 9999px;     /* گرد و باریک */
}

::-webkit-scrollbar-track {
  background: transparent; /* پس‌زمینه شفاف */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0 transparent;
}

.v-text-field-rtl .v-label {
  right: 0 !important;
  left: auto !important;
  text-align: right !important;
}
.v-text-field-rtl input {
  text-align: right !important;
}

.but {
  border-radius: 4px;
  /* background-color: #5ca1e1; */
  border: none;
  /* color: #000000; */
  text-align: center;
  
  padding: 8px 16px 8px 16px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  
  /* box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.384); */
}

.but{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.but:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 8px;
  left: -20px;
  transition: 0.5s;
}

.but:hover{
  padding-left: 24px;
  padding-right:8px;
}

.but:hover:after {
  opacity: 1;
  left: 10px;
}